/* Opening up with page info */
body {
background-color: #a4a4a4; 
font-family: Georgia, Arial, Serif; 
font-size: large;
}
#navbar {
	width: 225px;
	float: left;
}
#content {
	margin-left: 235px;
}
/* Here is styling for Reviews, mainly for player alignment colors */
.table,tr {
text-align: center; 
font-weight: bold;
}
table {
	border-spacing: 5px;
	border: 2px solid black;
}
.townpr {
color: #0000FF;
}
.townie {
color: #00BF00;
}
.scum {
color: #FF0000;
}

/* Older IE Compatibility with HTML5 */
header, section, footer, aside, nav, main, article, figure {
    display: block;
} 

