.table,tr {text-align: center; font-weight: bold;}
.townpr {color: #0000FF;}
.townie {color: #00BF00;}
.scum {color: #FF0000;}
body {background-color: #666666; font-family: Georgia, Arial, Serif; font-size: large;}
nav {position: relative; left: 10px; border: 2px solid #5555FF;}