/* Ion.RangeSlider
// css version 2.0.3
// © 2013-2014 Denis Ineshin | IonDen.com
// ===================================================================================================================*/

/* =====================================================================================================================
// RangeSlider */

.irs {
    position: relative; display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
    .irs-line {
        position: relative; display: block;
        overflow: hidden;
        outline: none !important;
    }
        .irs-line-left, .irs-line-mid, .irs-line-right {
            position: absolute; display: block;
            top: 0;
        }
        .irs-line-left {
            left: 0; width: 11%;
        }
        .irs-line-mid {
            left: 9%; width: 82%;
        }
        .irs-line-right {
            right: 0; width: 11%;
        }

    .irs-bar {
        position: absolute; display: block;
        left: 0; width: 0;
    }
        .irs-bar-edge {
            position: absolute; display: block;
            top: 0; left: 0;
        }

    .irs-shadow {
        position: absolute; display: none;
        left: 0; width: 0;
    }

    .irs-slider {
        position: absolute; display: block;
        cursor: default;
        z-index: 1;
    }
        .irs-slider.single {

        }
        .irs-slider.from {

        }
        .irs-slider.to {

        }
        .irs-slider.type_last {
            z-index: 2;
        }

    .irs-min {
        position: absolute; display: block;
        left: 0;
        cursor: default;
    }
    .irs-max {
        position: absolute; display: block;
        right: 0;
        cursor: default;
    }

    .irs-from, .irs-to, .irs-single {
        position: absolute; display: block;
        top: 0; left: 0;
        cursor: default;
        white-space: nowrap;
    }

.irs-grid {
    position: absolute; display: none;
    bottom: 0; left: 0;
    width: 100%; height: 20px;
}
.irs-with-grid .irs-grid {
    display: block;
}
    .irs-grid-pol {
        position: absolute;
        top: 0; left: 0;
        width: 1px; height: 8px;
        background: #000;
    }
    .irs-grid-pol.small {
        height: 4px;
    }
    .irs-grid-text {
        position: absolute;
        bottom: 0; left: 0;
        white-space: nowrap;
        text-align: center;
        font-size: 9px; line-height: 9px;
        padding: 0 3px;
        color: #000;
    }

.irs-disable-mask {
    position: absolute; display: block;
    top: 0; left: -1%;
    width: 102%; height: 100%;
    cursor: default;
    background: rgba(0,0,0,0.0);
    z-index: 2;
}
.lt-ie9 .irs-disable-mask {
    background: #000;
    filter: alpha(opacity=0);
    cursor: not-allowed;
}

.irs-disabled {
    opacity: 0.4;
}


.irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
}

/* Ion.RangeSlider, Flat UI Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
    /*background: url(../img/sprite-skin-flat.png) repeat-x;*/
}

.irs {
    height: 40px;
    /*width: 90%;*/
    /*margin: 0 auto;*/
    font-family: 'Arial';
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 8px;
    top: 25px;
    background-color: #e1e4e9;
    border-radius: 8px;
}
    .irs-line-left {
        height: 12px;
        background-position: 0 -30px;
    }
    .irs-line-mid {
        height: 12px;
        background-position: 0 0;
    }
    .irs-line-right {
        height: 12px;
        background-position: 100% -30px;
    }

.irs-bar {
    height: 8px;
    top: 25px;
    background-color: #b4ad92;
}
    .irs-bar-edge {
        top: 25px;
        height: 8px;
        width: 9px;
        background-color: #b4ad92;
        border-radius: 8px 0 0 8px;
    }

.irs-shadow {
    height: 3px; top: 34px;
    background: #000;
    opacity: 0.25;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}

.irs-slider {
    width: 16px; height: 18px;
    top: 22px;
    background-position: 0 -120px;
}
.irs-slider.state_hover, .irs-slider:hover {
    background-position: 0 -150px;
}

.irs-min, .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: #e1e4e9;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #b4ad92;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #9c936f;
    cursor: pointer;
}
.irs-from:after, .irs-to:after, .irs-single:after {
    position: absolute;
    display: block;
    content: "";
    bottom: -7px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -1px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #9c936f;
}

.irs-single:hover {
    background-color: #9c936f;
}


.irs-grid-pol {
    background: #e1e4e9;
}
.irs-grid-text {
    color: #999;
}

.irs-disabled {
}

.irs_wrapper {
    width: 90%;
    margin: 0 auto;
}

.irs_smallBtn {
    line-height:32px;
    font-weight: bold;
    width:35px;
    margin:10px;
    padding:0px;
}

.markItUp *{margin:0;padding:0;outline:0}.markItUp a:link,.markItUp a:visited{color:#000;text-decoration:none}.markItUp{width:700px;margin:5px 0 5px 0;border:5px solid #f5f5f5}.markItUpContainer{border:1px solid #3c769d;background:#FFF url(general_includes/markItUp/skins/markitup/images/bg-container.png) repeat-x top left;padding:5px 5px 2px 5px;font:11px Verdana,Arial,Helvetica,sans-serif}.markItUpEditor{font:12px 'Courier New',Courier,monospace;padding:5px 5px 5px 35px;border:3px solid #3c769d;width:643px;height:320px;background:#FFF url(general_includes/markItUp/skins/markitup/images/bg-editor.png) no-repeat;clear:both;line-height:18px;overflow:auto}.markItUpPreviewFrame{overflow:auto;background-color:#fff;border:1px solid #3c769d;width:99.9%;height:300px;margin:5px 0}.markItUpFooter{width:100%;cursor:n-resize}.markItUpResizeHandle{overflow:hidden;width:22px;height:5px;margin-left:auto;margin-right:auto;background-image:url(general_includes/markItUp/skins/markitup/images/handle.png);cursor:n-resize}.markItUpHeader ul li{list-style:none;float:left;position:relative}.markItUpHeader ul li ul{display:none}.markItUpHeader ul li:hover>ul{display:block}.markItUpHeader ul .markItUpDropMenu{background:transparent url(general_includes/markItUp/skins/markitup/images/menu.png) no-repeat 115% 50%;margin-right:5px}.markItUpHeader ul .markItUpDropMenu li{margin-right:0}.markItUpHeader ul .markItUpSeparator{margin:0 10px;width:1px;height:16px;overflow:hidden;background-color:#CCC}.markItUpHeader ul ul .markItUpSeparator{width:auto;height:1px;margin:0}.markItUpHeader ul ul{display:none;position:absolute;top:18px;left:0;background:#f5f5f5;border:1px solid #3c769d;height:inherit}.markItUpHeader ul ul li{float:none;border-bottom:1px solid #3c769d}.markItUpHeader ul ul .markItUpDropMenu{background:#f5f5f5 url(general_includes/markItUp/skins/markitup/images/submenu.png) no-repeat 100% 50%}.markItUpHeader ul ul ul{position:absolute;top:-1px;left:150px}.markItUpHeader ul ul ul li{float:none}.markItUpHeader ul a{display:block;width:16px;height:16px;text-indent:-10000px;background-repeat:no-repeat;padding:3px;margin:0}.markItUpHeader ul ul a{display:block;padding-left:0;text-indent:0;width:120px;padding:5px 5px 5px 25px;background-position:2px 50%}.markItUpHeader ul ul a:hover{color:#FFF;background-color:#3c769d}.html .markItUpEditor{background-image:url(general_includes/markItUp/skins/markitup/images/bg-editor-html.png)}.markdown .markItUpEditor{background-image:url(general_includes/markItUp/skins/markitup/images/bg-editor-markdown.png)}.textile .markItUpEditor{background-image:url(general_includes/markItUp/skins/markitup/images/bg-editor-textile.png)}.bbcode .markItUpEditor{background-image:url(general_includes/markItUp/skins/markitup/images/bg-editor-bbcode.png)}.wiki .markItUpEditor,.dotclear .markItUpEditor{background-image:url(general_includes/markItUp/skins/markitup/images/bg-editor-wiki.png)}

.markItUp .markItUpButton1 a{background-image:url(general_includes/markItUp/sets/bbcode/images/bold.png)}.markItUp .markItUpButton2 a{background-image:url(general_includes/markItUp/sets/bbcode/images/italic.png)}.markItUp .markItUpButton3 a{background-image:url(general_includes/markItUp/sets/bbcode/images/underline.png)}.markItUp .markItUpButton4 a{background-image:url(general_includes/markItUp/sets/bbcode/images/link.png)}.markItUp .markItUpButton5 a{background-image:url(general_includes/markItUp/sets/bbcode/images/list-bullet.png)}.markItUp .markItUpButton6 a{background-image:url(general_includes/markItUp/sets/bbcode/images/list-numeric.png)}.markItUp .markItUpButton7 a{background-image:url(general_includes/markItUp/sets/bbcode/images/list-item.png)}.markItUp .markItUpButton8 a{background-image:url(general_includes/markItUp/sets/bbcode/images/quotes.png)}.markItUp .markItUpButton9 a{background-image:url(general_includes/markItUp/sets/bbcode/images/code.png)}.markItUp .preview a{background-image:url(general_includes/markItUp/sets/bbcode/images/preview.png)}.markItUp *{margin:0;padding:0;outline:0}.markItUp a:link,.markItUp a:visited{color:#000;text-decoration:none}.markItUp{width:100%;margin:0;border:0 solid #f5f5f5}.markItUpContainer{border:1px solid #3c769d;background:#FFF url(general_includes/markItUp/skins/markitup/images/bg-container.png) repeat-x top left;padding:5px 0 5px 5px;font:11px Verdana,Arial,Helvetica,sans-serif}.markItUpEditor{font:12px 'Courier New',Courier,monospace;padding:5px 0 5px 0;border:3px solid #3c769d;width:98%;height:50px;background:#FFF url(general_includes/markItUp/skins/markitup/images/bg-editor.png) no-repeat;clear:both;line-height:18px;overflow:auto}.markItUpPreviewFrame{overflow:auto;background-color:#fff;border:1px solid #3c769d;width:98%;height:50px;margin:5px 0;margin-right:5px}.markItUpFooter{width:100%;cursor:n-resize}.markItUpResizeHandle{overflow:hidden;width:22px;height:5px;margin-left:auto;margin-right:auto;background-image:url(general_includes/markItUp/skins/markitup/images/handle.png);cursor:n-resize}.markItUp textarea{color:#000}.markItUp{width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box}