body{
background-image: url('wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
overflow: -moz-scrollbars-vertical; 
overflow-y: scroll;
}

#keys, #egkeys{

width:230px;
border:1px solid #580000;
margin:auto;
}




#keys td, #egkeys td{
text-align:center;
padding:5px;
font-family: 'Aldrich', sans-serif;
font-size:12px;
}

#keys th, #egkeys th{
color:#580000;
padding-top:10px;
padding-bottom:10px;
background-image: url('titlebg.png');
background-repeat: repeat-x;
font-weight: normal !important;
font-family: 'Oswald', sans-serif;
font-size:16px;
text-transform:uppercase;
}

#keys tr:hover{
background-color:#eae3d8;
cursor: pointer;
}


#keys tr:first-child:hover {
background-color:transparent;
cursor: auto;
}

#nohover:hover {
background-color:transparent !important;
cursor: auto !important;
}

#button{
cursor: pointer;
}


#left{


text-align:center;
width:230px; 
float:left;

}



#right{


text-align:center;
width:230px; 
float:left;
margin-left:20px;
}

#credits{
width:230px;
padding-top:20px;
text-align:center;
font-size: 10px;
font-family:Verdana;
float:left; 
margin-left:20px;
}

#return{

width:230px;
padding-top:20px;
text-align:center;
font-size: 10px;
font-family:Verdana;
float:left; 
margin-left:20px;
}

#returnto{
font-weight: bold;
text-decoration: underline;
color:#000;
cursor:pointer;
font-weight: bold;
font-family: 'Oswald', sans-serif;
font-size:17px;
text-transform:uppercase;
}

#returnto:hover{
   color:#FF0000;
}

#wrap{
	background-image: url('index.jpg');
	background-repeat: repeat !important;
	width:730px;
	padding:20px;
	margin:auto;
	margin-top:50px;
	overflow: auto;
	border:1px solid black;
}

#feedback{
text-align:center;
text-decoration: underline;
cursor: pointer;
font-size: 10px;
font-family:Verdana;
}

#new_wake, #new_sleep, #north, #east, #west, #south, #hospital, #ramen, #scout, #tavern, #refresh, #combat, 
#rob, #camp_out, #camp_in, #dmission, #cmission, #bmission, #amission, #occupation,#profession, #errands, 
#crimes, #ramen1, #ramen2, #ramen3,#ramen4, #ramen5, #ccrime, #bcrime, #acrime, #finduser, #finditem, #rumors, #bingo

{
text-transform: uppercase;
text-align: center;
}

#eg{
text-transform: uppercase;
text-align: center;
margin-top:4px;
width:59px;
font-family: 'Aldrich', sans-serif;
}